.checkbox-container {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
  position: relative;
}

.checkbox-container:hover::after {
  position: absolute;
  content: "pause when mouse out of screen";
  top: 0;
  left: 50px;
  width: 300px;
  height: 25px;
  line-height: 25px;
  background-color: #212121;
  color: #fff;
  font-weight: 600;
  text-align: center;
  }

.box-check {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.box-check.active {
  padding-left: 20px;
  background-color: rgb(111, 238, 111);
  background-color: #696969;
  transition: all 0.2s linear;
}

.mouse-icon {
  width: 14px;
  height: 22px;
  background-color: #aaa;
  border-radius: 100px;
  position: relative;
}

.mouse-icon::after {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 5px;
  background-color: #fff;
  top: 0px;
  left: 6px;
}
.mouse-icon::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 3px;
  background-color: #fff;
  top: 6px;
  left: 5.6px;
  border-radius: 5px;
}

.box-circle {
  border: 1px solid #a8a8a8;
  border-radius: 12px;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  top: -3px;
  left: -3px;
  background-color: #fff;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
  .box-circle.active {
    left: 19px;
  } */
